@{
    ViewData["Title"] = "Advertisement";
}
@model DetailAdvertisementModel
<link rel="stylesheet" href="~/css/DetailAdvertisement.css" />

<h4>@Model.Title</h4>


<div class="section">
    <div class="section-img">
        <img id="imgoutput" src="~/img/background.png" />
    </div>
    <div class="user_information">
        <p>gebruikersnaam: @Model.User_id</p>
        <p>afstand: 41 km </p>
        <p>gemiddelde beoordeling op communicatie</p>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <p>gemiddelde beoordeling op kwaliteit</p>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <span style='font-size:30px;'>&#9734;</span>
        <p>gebaseerd op ... beoordelingen</p>
    </div>
    <input type="button" value="Chat" name="chatbutton" action="#" />
</div>

<div class="tabsection">
    <div class="basic_tab tabs" onclick="switchtab('basic_information', 'basic_tab')">Algemene Informatie</div>
    <div class="filters_tab tabs" onclick="switchtab('filters_information', 'filters_tab')">Verzorging</div>
</div>

<div class="plant_information">
    <div class="basic_information infoblock">
        <p>nederlandse naam: @Model.Name_NL</p>
        <p>latijnse naam: @Model.Name_LT</p>
        <p>hoeveelheid: @Model.Quantity</p>
        <p>beschrijving: @Model.Description</p>
        <p>geplaatst op @Model.Created_at</p>
    </div>
    <div class="filters_information infoblock">
        <p>Standplaats: @Model.Filterlist.First()</p>
        <p>Vocht: </p>
        <p>Plantsoort: </p>
        <p>Voeding: </p>
        <p>pH-waarde: </p>
        <p>Inheems: </p>
        <p>Voorzien van pot: </p>
        <p>Gratis: </p>
    </div>
</div>

<script type="text/javascript" src="~/js/DetailAdvertisement.js" asp-append-version="true"></script>